@font-face {
  font-family: 'Shrikhand';
  src: url(/fonts/Shrikhand-Regular.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf);
  font-stretch: 75% 125%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto;
  margin: 0;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Shrikhand, 'Sans-serif';
  color: black;
}

h1 {
  margin: 0.3em;
}

h2 {
  font-weight: 900;
  padding-left: 0.8em;
  padding-top: 1em;
}

@media screen and (min-width: 768px) {
  h2 {
    text-align: center;
    padding-left: 0px;
  }
}

h4 {
  font-size: 17px;
}

h4, p {
  margin: 0 0 5px 0;
}

p {
  font-size: 1em;
  padding-bottom: 30px;
}

a {
  color: black;
  text-decoration: none;
  list-style: none;
}

footer {
  color: white;
  background-color: #353535;
  padding: 1em;
}

footer h2 {
  font-family: Shrikhand;
  font-weight: 200;
  padding: 0px;
}

@media screen and (min-width: 768px) {
  footer h2 {
    text-align: center;
  }
}

footer ul {
  list-style: none;
  margin-left: 0.4em;
  padding-left: 0;
}

footer li {
  margin-bottom: 10px;
}

footer li i {
  margin: 0;
}

@media screen and (min-width: 768px) {
  footer li {
    text-align: center;
  }
}

footer li a {
  color: white;
  font-style: normal;
  font-size: 1em;
}

footer li .fas {
  margin-right: 1em;
  color: white;
}

.instructions {
  color: black;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-bottom: 2.5em;
}

@media screen and (min-width: 768px) {
  .instructions {
    margin: 10px auto 30px auto;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .instructions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 30px;
  }
}

.instructions__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 2px 8px 1px #dddddd;
          box-shadow: 2px 2px 8px 1px #dddddd;
  margin: 1em;
  padding: 1em;
  border-radius: 25px;
}

.instructions__step:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 2px 4px 8px 0px #d1d1d1;
          box-shadow: 2px 4px 8px 0px #d1d1d1;
}

.instructions__step p {
  font-weight: 600;
  padding-bottom: 0px;
  color: black;
}

.instructions__step .fas {
  margin-right: 1em;
  color: #7e7e7e;
  font-size: 1.3em;
}

.instructions__step .fas:hover {
  color: #9356DC;
}

@media screen and (min-width: 768px) {
  .instructions__step {
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .instructions__step {
    width: 30%;
  }
}

@media screen and (min-width: 1444px) {
  .instructions__step {
    width: 20%;
  }
}

.number {
  margin-right: 20px;
  margin-left: -30px;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 50%;
  color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-field {
  position: relative;
  background-color: #eaeaea;
}

.iconmap {
  position: absolute;
  top: 16px;
  left: 25%;
  font-size: 15px;
  width: 40px;
}

@media screen and (min-width: 768px) {
  .iconmap {
    left: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .iconmap {
    left: 42%;
  }
}

@media screen and (min-width: 1444px) {
  .iconmap {
    left: 44%;
  }
}

@media screen and (min-width: 2050px) {
  .iconmap {
    left: 46%;
  }
}

.iconmap i {
  font-size: 16px;
  color: black;
}

input {
  background-color: #eaeaea;
  border: 0;
  text-align: center;
  height: 50px;
  width: 100%;
  -webkit-box-shadow: inset 0px 2px 3px 0px #d1d1d1;
          box-shadow: inset 0px 2px 3px 0px #d1d1d1;
  padding: 0;
  font-family: Roboto;
  font-size: 1em;
  font-weight: 600;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

input:-ms-input-placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

input::-ms-input-placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

input::placeholder {
  color: black;
  font-size: 16px;
  font-weight: 600;
}

.ad {
  text-align: center;
  background-color: #f6f6f6;
  padding-bottom: 3em;
}

.ad h2 {
  font-weight: 800;
}

.ad p {
  color: #4d4d4d;
  padding: 0em 1em 1.5em;
}

button {
  font-size: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 15px;
  color: white;
  border: 0px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 3px 4px 2px #d1d1d1;
          box-shadow: 0px 3px 4px 2px #d1d1d1;
  cursor: pointer;
}

.restaurant {
  padding-top: 10px;
  padding-bottom: 3em;
  background-color: #f6f6f6;
}

.restaurant__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .restaurant__display {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurant__pic {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  height: 250px;
  -webkit-box-shadow: 0px 4px 5px 0px #cbcbcb;
          box-shadow: 0px 4px 5px 0px #cbcbcb;
}

.restaurant__pic--mod {
  height: 190px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

@media screen and (min-width: 768px) {
  .restaurant__pic {
    margin: 10px auto 30px auto;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .restaurant__pic {
    width: 35%;
  }
}

@media screen and (min-width: 2050px) {
  .restaurant__pic {
    width: 37%;
  }
}

.card {
  position: relative;
}

.infos {
  padding-top: 5px;
  padding-left: 10px;
}

.infos p {
  color: black;
}

.infos__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart {
  position: relative;
}

.far {
  height: 60px;
  width: 60px;
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */