@font-face {
  font-family: 'Shrikhand';
  src: url(/fonts/Shrikhand-Regular.ttf);
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf);
  font-stretch: 75% 125%;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Roboto;
  color: palevioletred;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Shrikhand, 'Sans-serif';
  color: black;
}

h2 {
  font-weight: 900;
}

h4 {
  font-size: 17px;
}

h4, p {
  margin: 0 0 5px 0;
}

p {
  font-size: 14px;
  padding-bottom: 30px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions {
  color: black;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.instructions__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #f6f6f6;
  -webkit-box-shadow: 2px 2px 8px 1px #dddddd;
          box-shadow: 2px 2px 8px 1px #dddddd;
  margin: 15px;
  padding: 15px;
  border-radius: 25px;
}

.instructions__step:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 2px 4px 8px 0px #d1d1d1;
          box-shadow: 2px 4px 8px 0px #d1d1d1;
}

.instructions__step p {
  font-weight: 600;
  padding-bottom: 0px;
  color: black;
}

.instructions__step .fas {
  margin-right: 1em;
  color: #7e7e7e;
  font-size: 1.3em;
}

.instructions__step .fas:hover {
  color: #9356DC;
}

.number {
  margin-right: 20px;
  margin-left: -30px;
  background-color: #9356DC;
  padding: 3px 8px;
  border-radius: 50%;
  color: white;
}

.restaurant {
  padding-top: 10px;
  padding-bottom: 30px;
  background-color: #f4f4f4;
}

.restaurant__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.restaurant__pic {
  background-color: white;
  border-radius: 15px;
  margin: 10px;
  padding-bottom: 10px;
  height: 250px;
  -webkit-box-shadow: 0px 4px 5px 0px #cbcbcb;
          box-shadow: 0px 4px 5px 0px #cbcbcb;
}

.restaurant__pic--mod {
  height: 190px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.card {
  position: relative;
}

.infos {
  padding-top: 5px;
  padding-left: 10px;
}

.infos p {
  color: black;
}

.infos__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heart {
  position: relative;
}

.far {
  height: 60px;
  width: 60px;
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */