@import "./utils/variables";
@import "./base/typography";
@import "./utils/mixins";
@import "./layout/footer";
@import "./pages/instructions";
@import "./pages/menu";
@import "./components/keyframes";


header {
    display: flex;
    flex-direction: column;
}

.search-field{
    position: relative;
    background-color: #eaeaea;
}

.iconmap {
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 15px;
    width: 40px;
    @include tablet{
        left: 40%;
    }
    @include laptop{
        left: 42%;
    }
    @include laptop-l{
        left:44%;
    }
    @include laptop-xl{
        left:46%;
    }
    & i {
        font-size: 1em;
        color: black;
    }
}

input{
    background-color: #eaeaea;
    border: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px #d1d1d1;
    padding: 0;
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    &::placeholder{
        color:black;
        font-size: 16px;
        font-weight: 600;
    }  
}

.ad {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 3em;
    & h2 {
        font-weight: 800;
    }
    & p {
        color: #4d4d4d;
        padding: 0em 1em 1.5em;
    }
}

button {
    @include button;
}

button:hover{
    @include hoverbutton;
}



.restaurant {
    padding-top: 10px;
    padding-bottom: 3em;
    background-color: #f6f6f6;
    &__display{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include laptop{
            flex-direction: row;
        }
    }
    &__pic {
        background-color: white;
        border-radius: 15px;
        margin: 10px;
        padding-bottom: 10px;
        height: 250px;
        box-shadow: 0px 4px 5px 0px #cbcbcb;
        &--mod {
            height: 190px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            position: relative;
        }
        @include tablet{
            margin: 10px auto 30px auto;
            width: 80%;
        }
        @include laptop{
            width: 35%;
        }
        @include laptop-xl{
            width: 37%;
        }
    }
}

.card {
    position: relative;
    & span{
        @include card-span;
    }
}

.infos {
    padding-top: 5px;
    padding-left: 10px;

    & p{
        color: black;
    }
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.heart{
    position:relative;
}

.far{
    height: 60px;
    width: 60px;
    font-size: 30px; 
}

.heart--empty{
    position: absolute;
    -webkit-text-stroke: 1px white;
}

/*coeur couleur*/
.heart--full{
    opacity: 0;
}

.heart--full:hover{
    opacity: 1;
    background: linear-gradient(70deg,$secondary-clr,$primary-clr);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    cursor: pointer;
    animation: color;
    animation-duration: 1s;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

