@import "./utils/variables";
@import "./base/typography";
@import "./components/mixins";


header {
    display: flex;
    flex-direction: column;
}

.search-field{
    position: relative;
    background-color: #eaeaea;
}

.iconmap {
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 15px;
    width: 40px;
    & i {
        font-size: 16px;
        color: black;
    }
}

input{
    background-color: #eaeaea;
    border: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px #d1d1d1;
    padding: 0;
    &::placeholder{
        color:black;
        font-size: 16px;
        font-weight: 600;
    }  
}

.ad {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 3em;
    & h2 {
        font-weight: 800;
    }
    & p {
        color: #4d4d4d;
    }
}

button {
    @include button;
}

.instructions {
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 2.5em;

    &__step {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        background-color: #f6f6f6;
        box-shadow: 2px 2px 8px 1px #dddddd;
        margin: 1em;
        padding: 1em;
        border-radius: 25px;
        &:hover {
            background-color: #f5edff;
            box-shadow: 2px 4px 8px 0px #d1d1d1;
        }
    & p {
        font-weight: 600;
        padding-bottom: 0px;
        color: black;
    }    
    & .fas {
        margin-right: 1em;
        color: #7e7e7e;
        font-size: 1.3em;
        &:hover {
            color: $primary-clr; 
        }
    }
    }
}

.number{
    margin-right: 20px;
    margin-left: -30px;
    background-color: $primary-clr;
    padding: 3px 8px;
    border-radius: 50%;
    color:white;
}

.restaurant {
    padding-top: 10px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
    &__display{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__pic {
        background-color: white;
        border-radius: 15px;
        margin: 10px;
        padding-bottom: 10px;
        height: 250px;
        box-shadow: 0px 4px 5px 0px #cbcbcb;
        &--mod {
            height: 190px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            position: relative;
        }
    }
}

.card {
    position: relative;
}

.infos {
    padding-top: 5px;
    padding-left: 10px;

    & p{
        color: black;
    }
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.heart{
    position:relative;
}

.far{
    height: 60px;
    width: 60px;
    font-size: 30px; 
}

footer {
    color: white;
    background-color: #353535;
    padding: 1em;
    & h2 {
        font-family: Shrikhand;
        font-weight: 200;
        padding: 0px;
    }
    & ul {
        list-style: none;
        margin-left: 0.4em;
        padding-left: 0;
    }
    & li {
        margin-bottom: 10px;
        & i {
            margin: 0;
        }
    & a{
        color: white;
        font-style: normal;
        font-size: 1em;
    }
    & .fas {
        margin-right: 1em;
        color: white;
        }
    }
}