@import "./utils/variables";
@import "./base/typography";
@import "./utils/mixins";
@import "./layout/footer";
@import "./pages/instructions";
@import "./pages/menu";
@import "./components/keyframes";
@import "./components/heart";
@import "./components/loader";


header {
    display: flex;
    flex-direction: column;
}

.search-field{
    position: relative;
    background-color: #eaeaea;
}

.iconmap {
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 15px;
    width: 40px;
    @include tablet{
        left: 40%;
    }
    @include laptop{
        left: 42%;
    }
    @include laptop-l{
        left:44%;
    }
    @include laptop-xl{
        left:46%;
    }
    & i {
        font-size: 1em;
        color: black;
    }
}

input{
    background-color: #eaeaea;
    border: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px #d1d1d1;
    padding: 0;
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    &::placeholder{
        color:black;
        font-size: 16px;
        font-weight: 600;
    }  
}

.ad {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 3em;
    & h2 {
        font-weight: 800;
    }
    & p {
        color: #4d4d4d;
        padding: 0em 1em 1.5em;
    }
}

button {
    @include button;
}

button:hover{
    @include hoverbutton;
}

.restaurant{
    flex: 1 1 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: stretch;
    align-items: stretch;
    background: #f6f6f6;
    gap: 50px;
    padding: 50px; 
    margin: 34px -20px 0px -20px;
    @media screen and (max-width: 1024px){
        gap: 20px;
        padding: 20px;
        margin: 34px 0px 0px 0px;
    }
    @media screen and (max-width: 650px){
        padding: 20px;
    }

    .restaurant__title {
        flex: 1 1 100%;
        text-align: center;
        font-size: 2rem;
        padding-left: 0em;
        @media screen and (max-width: 650px){
            text-align: left;
            font-size: 1.5rem;
        }
    }

    .restaurant__card{
        min-width: 40%;
        flex: 1 1 410px;
        border-radius: 20px;
        overflow: hidden;
        background: white;
        box-shadow: 0px 0px 8px #a5a5a5;
        position: relative;
        z-index: 1;
        transition: box-shadow 200ms ease-out;
        
        &:hover{
            box-shadow: 0px 0px 20px #a5a5a5;
        }

        &:hover .restaurant__pic--mod{
            filter: brightness(1.1);
        }  
    }

    .restaurant__pic{
        color: black;
        border-radius: 20px;
    }

    .restaurant__new{
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $tertiary-clr;
        padding: 8px;
        border-radius: 3px;
        color: #009f88;
    }

    .restaurant__pic--mod{
        width: 100%;
        max-height: 200px;
        object-fit: cover;
        transition: filter 200ms linear;
    }

    .restaurant__infos{
        padding: 15px;
        position: relative;
        
        .heart-icons__container{
            right: 20px;
        }

        &--title{
            margin: 0px 0px 6px 0px;
            font-weight: 900;
            font-size: 1.1rem;
        }
    }

     
}


/*

.restaurant {
    padding-top: 10px;
    padding-bottom: 3em;
    background-color: #f6f6f6;
    &__display{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @include laptop{
            flex-direction: row;
        }
    }
    &__pic {
        background-color: white;
        border-radius: 15px;
        margin: 10px;
        padding-bottom: 10px;
        height: 250px;
        box-shadow: 0px 4px 5px 0px #cbcbcb;
        &--mod {
            height: 190px;
            width: 100%;
            border-radius: 15px 15px 0px 0px;
            object-fit: cover;
            position: relative;
        }
        @include tablet{
            margin: 10px auto 30px auto;
            width: 80%;
        }
        @include laptop{
            width: 35%;
        }
        @include laptop-xl{
            width: 37%;
        }
    }
}

.card {
    position: relative;
    & span{
        @include card-span;
    }
}

.infos {
    padding: 10px;
    position: relative;

    & p{
        color: black;
    }
    &__name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}



*/