@mixin button{
    font-size: 14px;
    background: linear-gradient($secondary-clr, $primary-clr);
    padding: 15px;
    color: white;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px 2px darken(#eaeaea, 10%);
    cursor: pointer;
  }

  @mixin hoverbutton{
    background: linear-gradient(rgba(255, 121, 218, 0.8),rgba(147, 86, 220, 0.8)); /*éclaircissement couleur*/
    box-shadow: 0px 3px 4px 2px darken(#eaeaea, 30%); /* durcissement ombre*/
  }

  @mixin card-span{
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 15px;
    background-color: $tertiary-clr;
    color: #2c9c81;
    padding: 5px 10px;
  }

  @mixin return{
    position: absolute;
    left:20px;
    top: 35px;
    background-color: white;
    border: 0;
    cursor: pointer;
  }

  @mixin bg-gradient-second-prim{
    background: linear-gradient($secondary-clr, $primary-clr);
}

  
@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet-min)){
    @content;
  }
} 


@mixin laptop {
 @media screen and (min-width: map-get($breakpoints, laptop-min)){
    @content;
  }
} 


@mixin laptop-l {
@media screen and (min-width: map-get($breakpoints, laptop-l-min)){
   @content;
 }
} 

@mixin laptop-xl {
@media screen and (min-width: map-get($breakpoints, laptop-xl-min)){
   @content;
 }
} 