@mixin button{
    font-size: 14px;
    background: linear-gradient($secondary-clr, $primary-clr);
    padding: 15px;
    color: white;
    border: 0px;
    border-radius: 25px;
    box-shadow: 0px 3px 4px 2px darken(#eaeaea, 10%);
    cursor: pointer;
  }

  
@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, tablet-min)){
    @content;
  }
} 


@mixin laptop {
 @media screen and (min-width: map-get($breakpoints, laptop-min)){
    @content;
  }
} 


@mixin laptop-l {
@media screen and (min-width: map-get($breakpoints, laptop-l-min)){
   @content;
 }
} 

@mixin laptop-xl {
@media screen and (min-width: map-get($breakpoints, laptop-xl-min)){
   @content;
 }
} 