$primary-clr: #9356DC;
$secondary-clr: #FF79DA; 
$tertiary-clr: #99E2D0;

$color: #49b8e5, #1e98d4, #2a92d0, #3a88c8, #507cbe; 
$circle-size: 20px;
$circle-margin: 7px;


$breakpoints: (
    tablet-min: 768px,
    laptop-min: 1024px,
    laptop-l-min: 1444px,
    laptop-xl-min: 2050px,
);