
header {
    display: flex;
    flex-direction: column;
}

.search-field{
    position: relative;
    background-color: #eaeaea;
}

.iconmap {
    position: absolute;
    top: 16px;
    left: 25%;
    font-size: 15px;
    width: 40px;
    @include tablet{
        left: 40%;
    }
    @include laptop{
        left: 42%;
    }
    @include laptop-l{
        left:44%;
    }
    @include laptop-xl{
        left:46%;
    }
    & i {
        font-size: 1em;
        color: black;
    }
}

input{
    background-color: #eaeaea;
    border: 0;
    text-align: center;
    height: 50px;
    width: 100%;
    box-shadow: inset 0px 2px 3px 0px #d1d1d1;
    padding: 0;
    font-family: Roboto;
    font-size: 1em;
    font-weight: 600;
    &::placeholder{
        color:black;
        font-size: 16px;
        font-weight: 600;
    }  
}

.ad {
    text-align: center;
    background-color: #f6f6f6;
    padding-bottom: 3em;
    & h2 {
        font-weight: 800;
    }
    & p {
        color: #4d4d4d;
        padding: 0em 1em 1.5em;
    }
}

button {
    @include button;
}

button:hover{
    @include hoverbutton;
}

