@import "../utils/mixins";

@font-face {
    font-family: 'Shrikhand';
    src: url(/fonts/Shrikhand-Regular.ttf);
    font-weight: 125 950;
    font-stretch: 75% 125%;
}

@font-face {
    font-family: 'Roboto';
    src: url(/fonts/Roboto-Regular.ttf);
    font-stretch: 75% 125%;
}


html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Roboto;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    font-family: Shrikhand, 'Sans-serif';
    color: black;
}

h1{
    margin: 0.3em;
}

h2 {
    font-weight: 900;
    padding-left: 0.8em;
    padding-top: 1em;
    @include tablet {
        text-align:center;
        padding-left: 0px;
    }
}

h4 {
    font-size: 17px;
}
  
h4, p {
    margin: 0 0 5px 0;
}

p{
    font-size:1em;
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
}

