@import "../utils/mixins";

@font-face {
    font-family: 'Shrikhand';
    src: url(../fonts/Shrikhand-Regular.ttf);
    font-weight: 125 950;
}

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}


html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: Roboto;
    margin: 0;
}

.logo {
    padding: 20px 0 10px 0;
    width: 100%;
    font-size: 35px;
    text-align: center;
    font-family: Shrikhand, 'Sans-serif';
    color: black;
}

h1{
    margin: 0.3em;
}

h2 {
    font-weight: 900;
    padding-left: 0.8em;
    padding-top: 1em;
    @include tablet {
        text-align:center;
        padding-left: 0px;
    }
}

h3 {
    font-size: 1em;;
}

h4 {
    font-size: 17px;
}
  
h3, h4, p {
    margin: 0 0 5px 0;
}

p{
    font-size:0.9em;
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
    list-style: none;
}

